{% extends "layout.html" %}

{% block title %}
Voters (Students who has voted)
{% endblock %}

{% block content %}

<p class="admin-breadcrumb"><a href="/admin">Back to Admin Dashboard</a></p>

<div class="card">
    <h2>Voters who participated in {{ election.title if election else "No election"}}</h2>

    <form method="GET" style="margin-bottom:16px;">
        <input type="text" name="q" placeholder="Search by name or email" value="{{ search }}">
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position voted for</th>
            <th>First Vote</th>
        </tr>

        {% for voter in voters %}
        <tr>
            <td>{{ voter.name }}</td>
            <td>{{ voter.email }}</td>
            <td>{{ voter.positions_voted }}</td>
            <td>{{ voter.first_vote_time|datetime }}</td>
        </tr>
        
        {% endfor %}
        
        {% if not voters %}
        <p>Nobody has voted yet.</p>
        {% endif %}

    </table>

</div>

{% endblock %}