{% extends "layout.html" %}

{% block title %}
Login 
{% endblock %}

{% block content %}

<div class="login-card">
    <h1>Burnside Prefect Voting</h1>
    <p>Secure Student Authentication</p>
    
    
    <div id="g_id_onload" 
         data-client_id="{{ client_id }}" 
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin"></div>
    <br>
    <a href="/" class="btn glacier">Back</a>
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}
